<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *
        {
            margin:0px;
        }
        body
        {
            background-color:brown;
        }
        h1
        {
            color: lavender;
            <!-- background-color: brown; -->

        }
    </style>
</head>
<body>
    <center>
        <h1>Hey !!Best Finisher and captain cool is here</h1> 
        <h1> One of the world's greatest wicketkeeper batsmen</h1> 
        
    </center>
    
</body>
</html>