<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *
        {
            margin:0px;
        }
        h1
        {
            color: burlywood;
            background-color: black;
            margin-left: auto;             
        }
    </style>
</head>
<body>
    <center>
        <h1><marquee direction="up">Korbo Lorbo Jitbo</marquee></h1>
    </center>
    
</body>
</html>